body {
    width: 350px;
    height: 100%;
    margin: auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*header*/

.header {
    padding: 0;
    margin-bottom: 150px;
}

h3 {
    font-size: 16px;
}

.hamburger {
    width: 40px;
    float: right;
    margin: 10px;
}

.insure {
    float: left;
    margin: 10px;
}

.nav {
    width: 100%;
    height: 70px;
}

.intro {
    width: 100%;
    height: 950px;

    background-color: #252341;
}

.family {
    width: 100%;
    float: left;
}

.intro-left {
    margin: 0;
    padding: 0;
}


.humanizing {
    color: white;
    font-size: 45px;
    text-align: center;

    width: 300px;
    height: 100px;
    position: relative;
    top: -120px;
    left: 30px;
    z-index: 0;

    margin-bottom: 15px;
}

.get-your-life {
    color: white;

    width: 300px;
    height: 150px;
    position: relative;
    top: -120px;
    left: 30px;
    z-index: 0;

    text-align: center;

}

.btn-view {
    border: 5PX;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


    width: 100px;
    height: 50px;
    position: relative;
    top: -470px;
    left: 30px;
    z-index: 0;
}

.bg-pattern-intro {
    position: relative;
    top: -170px;
    left: 115px;
    z-index: 0;
}


.we-different {
    font-size: 38px;
    text-align: center;
}

.icon-snappy-process {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}


.section-headers {
    font-size: 28px;
    text-align: center;
}


/*header*/

/*footer*/
.footer {
    width: 100%;
    height: 100%;
}

.find-out {
    width: 350px;
    height: 400px;

    background-color: #252341;
}


.how-we-work {
    float: right;
}

.find-text{
    width: 300px;
    height: 100px;
    color: white;
    font-size: 35px;

    text-align: center;
    margin-left: auto;
}

.insure-footer {
    width: 350px;
    height: 750px;
    margin-top: 75px;

    background-color: #ecf1f1;
}

.insure-img {
    width: 350px;
    position: absolute;
}

.insure-footer-text {
    font-size: 35px;

    width: 100px;
    height: 40px;

    position: relative;
    top: 110px;
    left: 110px;
    z-index: 1;
}

.social-icons {
    width: 150px;
    height: 50px;

    position: relative;
    top: 130px;
    left: 120px;
    z-index: 1;


}






/*footer*/

























